.text-field-container {
    display: flex;
    padding: 0.5rem 0.5rem;
}

.text-field {
    flex: 1;
}

.card-body-container {
    padding: 0.5rem;
}

.card-body-style {
    border-radius: 0;
}
.card-tab-style {
    padding: 16px;
    cursor: pointer;
}
.search {
    /* position: 'relative'; */
    display: flex;
  }

  .searchIcon {
    padding: 0.5rem;
    height: '100%';
    position: 'absolute';
    /* display: 'flex'; */
    flex:  1;
 }

 .tab-container {
     margin: 0 0 1px;
     list-style-type: none;
     padding-left: 8px;
 }
 
 .autocomplete-popup-indicator {
     display: none;
 }

 .tab-heading{
     padding-left: 20px;
     padding-top: 10px;

 }
 