.card-body-container {
    padding: 0.5rem;
}

.card-body-style {
    border-radius: 0;
}
.card-tab-style {
    padding: 16px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.search {
    /* position: 'relative'; */
    display: flex;
  }

  .searchIcon {
    padding: 0.5rem;
    height: '100%';
    position: 'absolute';
    /* display: 'flex'; */
    flex:  1;
 }

 .tab-container {
     margin: 0 0 1px;
     list-style-type: none;
     padding-left: 0;
 }

 .info-text {
	margin: 1rem 1.5rem 0;
 }

 .text-field-container {
    display: flex;
    padding: 0.5rem 0.5rem;
}

.text-field {
    flex: 1;
}