.container-style{
  padding: 1.5rem 1.5rem 0.1rem 1.5rem;

}
.App {
    font-family: sans-serif;
    text-align: center;
  }
  
.header {
  color: green
}

@media print {
  * {
    display: none;
  }
  .content {
    display: block;
  }
  .header {
    color: red;
    display: block;
  }  
}  